# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Others
*.log
*.cache
*.db
